.table_header{
    text-align: center;
}

.table{
    width: 100%;
    height: 100%;
}

.add_row_button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline;
    width: auto;
    text-decoration: underline;
}
.add_row_button:focus {
    outline: none;
}
.add_row_button:hover {
    color: #696969;
    text-decoration: none;
    cursor: pointer;
}
.add_row_button:disabled {
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline;
    background-color: #FFFFFF;
    color: #DCDCDC;
    text-decoration: none;
}
.delete_choosen_rows {
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline;
    width: auto;
    margin-left: 10px;
    text-decoration: underline;
}
.delete_choosen_rows:focus {
    outline: none;
}
.delete_choosen_rows:hover {
    color: #696969;
    text-decoration: none;
    cursor: pointer;
}

.table_header{
    width: calc(100% - 6px);
}
.table_header_cell{
    box-sizing: border-box;
    float: left;
    width: calc(100% / 13);
    height: 35px;
    margin-right: -9px;
    background-color: #696969;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border: 3px solid #000000;
}
.table_header_cell p{
    margin-top: 3px;
}

.table_row{
    width: calc(100% - 6px);
}
.table_row_cell{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: calc(100% / 13);
    height: 30px;
    margin-right: -9px;
    margin-top: -3px;
    background-color: #F5DEB3;
    outline: none;
    color: #000000;
    border: 3px solid #000000;
}
.table_row_cell img, input{
    width: auto;
    height: 20px;
    padding-left: 5px;
    padding-right: 10px;
    pointer-events: auto;
    display: inline-block;
}
.table_row_cell img:hover{
    cursor: pointer;
}