
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/src/css/style.css">

    <title>TestApp</title>
</head>
<body>
    <h1 class="table_header">@ViewBag.smartphones.TableName</h1>
    <div class="table">
        <div class="table_header">
            @foreach (var columnName in ViewBag.smartphones.Columns)
            {
                <div class="table_header_cell"><p>@columnName</p></div>
            }
            <div class="table_header_cell"><p>Действия</p></div>
        </div>
        @foreach (var line in ViewBag.smartphones.Rows)
        {
            <div id="table_line" class="table_line">
            @foreach(var cell in line.ItemArray)
            {
                <div class="table_line_cell"><input value="@cell"></div>
            }
                <div class="table_line_cell">
                    <img src="/src/icons/edit.png" onclick="edit()">
                    <img src="/src/icons/add.png">
                    <img src="/src/icons/delete.png">
                </div>
            </div>
        }
    </div>
</body>

<script>
        function edit() {
            var tableLineCells = document.getElementsByClassName('table_line_cell');
            Array.from(tableLineCells).forEach(function changeTableCellColor(tableLineCell) {
                tableLineCell.setAttribute('style', 'border: 3px solid #FF6A6A;');
            });
        }
</script>
</html>
