<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/src/css/style.css">

    <title>TestApp</title>
</head>
<body>
    <h1 class="table_header">Смартфоны</h1>

    <input class="add_row_button" value="Добавить новую запись"> <input class="delete_choosen_rows" value="Удалить отмеченные">

    <div class="table">
    </div>
</body>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/src/js/smartphones.js"></script>

</html>